@model BugTrack.Models.LoginViewModel
@using BugTrack.Models;
@using BugTrack.Assist;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Demo";

}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Landing Page</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Admin</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>An Admin is able to see all the projects and tickets in the system</li>
                                <li>An Admin can create a project</li>
                                <li>An Admin can assign a developer to a project or ticket</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "DemoAdmin@Mailinator.com")
                @Html.Hidden("Password", "AdminBug@1")
            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Demo Admin</button>
        }
    </div>
    <div class="col-md-3 demouser">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Project Manager</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Project Manager can see the projects and tickets they are assigned to</li>
                                <li>Project Manager can create new projects</li>
                                <li>Project Manager can assign developers to tickets</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "DemoManager@mailinator.com")
                @Html.Hidden("Password", "Projectm2!")
            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Project Manager</button>
        }
    </div>
    <div class="col-md-3 demouser">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Developer</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Developers can see the projects and tickets they are assigned to</li>
                                <li>Developers can place a comment or attachment on to the tickets they are assigned to</li>
                                <li>Developers can change the status of a ticket</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "demodeveloper@mailinator.com")
                @Html.Hidden("Password", "Develop3!")

            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Developer</button>
        }
    </div>
    <div class="col-md-3 demouser">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Submitter</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Submitter can create a ticket to a project they are assigned to</li>
                                <li>Submitter can add a comment or attachment to a ticket they create on a project they are assigned to</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "demosubmitter@mailinator.com")
                @Html.Hidden("Password", "Submit4!")

            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Submitter</button>
        }
    </div>
</div>


