@model BugTrack.Models.LoginViewModel
@using BugTrack.Models;
@using BugTrack.Assist;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Demo";

}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Landing Page</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Project Manager</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Something a Project Manager can do</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "DemoAdmin@Mailinator.com")
                @Html.Hidden("Password", "AdminBug@1")
            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Demo Admin</button>
        }
    </div>
    <div class="col-md-3 demouser">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Project Manager</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Something a Project Manager can do</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "DemoManager@mailinator.com")
                @Html.Hidden("Password", "Projectm2!")
            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Project Manager</button>
        }
    </div>
    <div class="col-md-3 demouser">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Developer</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Something a Developer to do</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "demodeveloper@mailinator.com")
                @Html.Hidden("Password", "Develop3!")

            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Developer</button>
        }
    </div>
    <div class="col-md-3 demouser">
        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
        {
            <div class="demouser">
                @Html.AntiForgeryToken()
                <div class="demo">
                    <div class="row">
                        <div class="col-md-12 demoheader">Submitter</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>Something a Submitter to do</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Email", "demosubmitter@mailinator.com")
                @Html.Hidden("Password", "Submit4!")

            </div>
            <button type="submit" class="btn btn-primary demobtn">Login as Submitter</button>
        }
    </div>
</div>


