@using BugTrack.Models;
@using BugTrack.Assist;
@using BugTrack.View_Model;

@{
    ViewBag.Title = "Home Page";
}

@{
    ApplicationDbContext db = new ApplicationDbContext();
    var employcount = db.Users.Count();
    var ticketcount = db.Tickets.Count();
    var projcount = db.Projects.Count();
    TicketDashboardData noTick = new TicketDashboardData();
    noTick.LoadTicketDashboardData();
    var assign = noTick.InProgressTicketCnt / ticketcount;
    
}
<link href="~/Content/Custom.css" rel="stylesheet" />

<!-- partial -->
<div class="content-wrapper dash">
    <h3 class="page-heading mb-4">Dashboard</h3>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 mb-4">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-right">
                            <h4 class="text-danger">
                                <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="float-left">
                            <p class="card-text text-dark">Projects</p>
                            <h4 class="bold-text">@projcount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 mb-4">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-right">
                            <h4 class="text-warning">
                                <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="float-left">
                            <p class="card-text text-dark">Tickets</p>
                            <h4 class="bold-text">@ticketcount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 mb-4">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-right">
                            <h4 class="text-success">
                                <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="float-left">
                            <p class="card-text text-dark">Employees</p>
                            <h4 class="bold-text">@employcount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tickets</h5>
                    <div class="row">
                        <div class="col-12">
                            
                            @{ 
                                float prctnCnt = 0.00F;
                                float progress = 0.00F;
                                float hold = 0.00F;
                                float resolve = 0.00F;
                                float close = 0.00F;
                                prctnCnt = (float)noTick.UnAssignedTicketCnt / ticketcount;
                                progress = (float)noTick.InProgressTicketCnt / ticketcount;
                                hold = (float)noTick.OnHoldTicketCnt / ticketcount;
                                resolve = (float)noTick.ResolvedTicketCnt / ticketcount;
                                close = (float)noTick.ClosedTicketCnt / ticketcount;
                                prctnCnt *= 100;
                                progress *= 100;
                                hold *= 100;
                                resolve *= 100;
                                close *= 100;
                                var strPrcntCnt = string.Concat(Convert.ToString(prctnCnt), "%");
                                var strPrcntCnt1 = string.Concat(Convert.ToString(progress), "%");
                                var strPrcntCnt2 = string.Concat(Convert.ToString(hold), "%");
                                var strPrcntCnt3 = string.Concat(Convert.ToString(resolve), "%");
                                var strPrcntCnt4 = string.Concat(Convert.ToString(close), "%");
                            }                            
                                                     
                            <div class="mb-4">
                                <p class="card-text text-muted mb-2">Unassigned</p>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width:@strPrcntCnt">@strPrcntCnt</div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <p class="card-text text-muted mb-2">In Progress</p>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@strPrcntCnt1">@strPrcntCnt1</div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <p class="card-text text-muted mb-2">On Hold</p>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:@strPrcntCnt2">@strPrcntCnt2</div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <p class="card-text text-muted mb-2">Resolved</p>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:@strPrcntCnt3">@strPrcntCnt3</div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <p class="card-text text-muted mb-2">Closed</p>
                                <div class="progress progress-slim">
                                    <div class="progress-bar bg-info" role="progressbar" style="width:@strPrcntCnt4">@strPrcntCnt4</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="text-muted mb-0">
                                Details updated upon request
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="card-deck">
        <div class="card col-lg-12 px-0 mb-4">
            <div class="card-body">
                <h5 class="card-title">Projects</h5>
                <div class="table-responsive">
                    <table class="table center-aligned-table">
                        <thead>
                            <tr class="text-primary">
                                <th>Project Name</th>
                                <th>Ticket Number</th>
                                <th>Employees Assigned</th>
                                <th>High Level Tickets</th>
                                <th>Low Level Tickets</th>
                                <th>Closed Tickets on Projects</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td>034</td>
                                <td>Iphone 7</td>
                                <td>12 May 2017</td>
                                <td>Dispatched</td>
                                <td>Credit card</td>
                                <td><label class="badge badge-success">Approved</label></td>
                                <td><a href="#" class="btn btn-outline-success btn-sm">View Order</a></td>
                                <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                            </tr>
                            <tr class="">
                                <td>035</td>
                                <td>Galaxy S8</td>
                                <td>15 May 2017</td>
                                <td>Dispatched</td>
                                <td>Internet banking</td>
                                <td><label class="badge badge-warning">Pending</label></td>
                                <td><a href="#" class="btn btn-outline-success btn-sm">View Order</a></td>
                                <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                            </tr>
                            <tr class="">
                                <td>036</td>
                                <td>Amazon Echo</td>
                                <td>17 May 2017</td>
                                <td>Dispatched</td>
                                <td>Credit card</td>
                                <td><label class="badge badge-success">Approved</label></td>
                                <td><a href="#" class="btn btn-outline-success btn-sm">View Order</a></td>
                                <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                            </tr>
                            <tr class="">
                                <td>037</td>
                                <td>Google Pixel</td>
                                <td>17 May 2017</td>
                                <td>Dispatched</td>
                                <td>Cash on delivery</td>
                                <td><label class="badge badge-danger">Rejected</label></td>
                                <td><a href="#" class="btn btn-outline-success btn-sm">View Order</a></td>
                                <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                            </tr>
                            <tr class="">
                                <td>038</td>
                                <td>Mac Mini</td>
                                <td>19 May 2017</td>
                                <td>Dispatched</td>
                                <td>Debit card</td>
                                <td><label class="badge badge-success">Approved</label></td>
                                <td><a href="#" class="btn btn-outline-success btn-sm">View Order</a></td>
                                <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>*@
</div>

