@using BugTrack.Assist;
@using BugTrack.Models;
@using Microsoft.AspNet.Identity;

@{ 
    var rolehelp = new UserRolesHelper();
    var userRole = rolehelp.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault();
    userRole = string.IsNullOrEmpty(userRole) ? "No Role" : userRole;
}


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="shortcut icon" href="~/Spectre_status.jpg" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Star Template/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Star Template/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="~/Star Template/node_modules/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/Star Template/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.17/datatables.min.css" />
    <link href="~/Content/Custom.css" rel="stylesheet" />

</head>
<body>
    <div class=" container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                    <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
                </form>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic" href="#"><img class="rounded-circle" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-th"></i></a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:partials/_sidebar.html -->
                    
                    <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var role = new UserRolesHelper();
                    <div class="user-info">
                        <p class="name">@User.Identity.Name</p>
                        <p class="rolecolor" >@userRole</p>
                        <span class="online"></span>
                    </div>
                    }
                    <ul class="nav">

                        @if (User.Identity.IsAuthenticated)
                        {

                            //Add code here to LogOff
                            <li class="nav-item">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="nav-link showblack" href="javascript:document.getElementById('logoutForm').submit()">
                                        <span class="menu-title">Log Off</span>
                                    </a>                               
                                }
                            </li>
                        }
                        else
                        {
                            @*Jasons test nav starts here...*@
                            <li class="nav-item">
                                <a class="nav-link showblack" href=@Url.Action("Login", "Account")>
                                    <span class="menu-title">Login</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link showblack" href=@Url.Action("Register", "Account")>
                                    <span class="menu-title">Register</span>
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link showblack" href=@Url.Action("Index", "Home")>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>

                        @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "User")>
                                    <span class="menu-title">Employees</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Projects")>
                                <span class="menu-title">My Projects</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Tickets")>
                                <span class="menu-title">My Tickets</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index" , "TicketComments")>
                                <span class="menu-title">Ticket Comments</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "TicketAttachments")>
                                <span class="menu-title">My Attachments</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "TicketHistories")>
                                <span class="menu-title">Ticket Record</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "TicketNotifications")>
                                <span class="menu-title">Notifications</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content-wrapper">
                <!-- partial -->
                @*<body>
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @Html.ActionLink("BugTracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")))
                                    {
                                        <li>@Html.ActionLink("Employees", "Index", "User")</li>
                                    }
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                                    }
                                </ul>
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>
                    <div class="container body-content">*@

                @RenderBody()

                <hr />
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                            <a href="#">BugTracker Project</a>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>

    <script src="~/Star Template/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Star Template/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Star Template/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Star Template/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="~/Star Template/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script>
    <script src="~/Star Template/js/off-canvas.js"></script>
    <script src="~/Star Template/js/hoverable-collapse.js"></script>
    <script src="~/Star Template/js/misc.js"></script>
    <script src="~/Star Template/js/chart.js"></script>
    <script src="~/Star Template/js/maps.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.17/datatables.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
