<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="shortcut icon" href="~/Spectre_status.jpg" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Star Template/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Star Template/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="~/Star Template/node_modules/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/Star Template/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.17/datatables.min.css" />


</head>
<body>
    <div class=" container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo_star_black.png" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo_star_mini.jpg" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                    <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
                </form>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="images/face.jpg" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:partials/_sidebar.html -->
                <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="images/face.jpg" alt="">
                        <p class="name">Richard V.Welsh</p>
                        <p class="designation">Manager</p>
                        <span class="online"></span>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            @Html.Partial("_LoginPartial")
                            <a class="nav-link" href="">
                                <img src="images/icons/5.png" alt="">
                                <span class="menu-title"></span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href=@Url.Action("Index", "Home")>
                                <img src="images/icons/1.png" alt="">
                                <span class="menu-title">Home</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index", "User")>
                                    <img src="images/icons/2.png" alt="">
                                    <span class="menu-title">Employees</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Projects")>
                                <img src="images/icons/005-forms.png" alt="">
                                <span class="menu-title">Projects</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Tickets")>
                                <img src="images/icons/4.png" alt="">
                                <span class="menu-title">Tickets</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index" , "TicketComments")>
                                <img src="images/icons/6.png" alt="">
                                <span class="menu-title">Ticket Comments</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "TicketAttachments")>
                                <img src="images/icons/7.png" alt="">
                                <span class="menu-title">Attachments</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-elements/typography.html">
                                <img src="images/icons/8.png" alt="">
                                <span class="menu-title">Typography</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="images/icons/10.png" alt="">
                                <span class="menu-title">Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content-wrapper">
                <!-- partial -->
                @*<div class="content-wrapper">
                    <h3 class="page-heading mb-4">Dashboard</h3>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <h4 class="text-danger">
                                                <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                                            </h4>
                                        </div>
                                        <div class="float-right">
                                            <p class="card-text text-dark">Visitors</p>
                                            <h4 class="bold-text">65,650</h4>
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> 65% lower growth
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <h4 class="text-warning">
                                                <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                                            </h4>
                                        </div>
                                        <div class="float-right">
                                            <p class="card-text text-dark">Orders</p>
                                            <h4 class="bold-text">656</h4>
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i> Product-wise sales
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <h4 class="text-success">
                                                <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                                            </h4>
                                        </div>
                                        <div class="float-right">
                                            <p class="card-text text-dark">Revenue</p>
                                            <h4 class="bold-text">$65656</h4>
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        <i class="fa fa-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <h4 class="text-primary">
                                                <i class="fa fa-twitter highlight-icon" aria-hidden="true"></i>
                                            </h4>
                                        </div>
                                        <div class="float-right">
                                            <p class="card-text text-dark">Followers</p>
                                            <h4 class="bold-text">+62,500</h4>
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Just Updated
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>*@

                @*<body>
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @Html.ActionLink("BugTracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")))
                                    {
                                        <li>@Html.ActionLink("Employees", "Index", "User")</li>
                                    }
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                                    }
                                </ul>
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </div>
                    <div class="container body-content">*@

                @RenderBody()

                <hr />
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                            <a href="#">Star Admin</a> &copy; 2017
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>

    <script src="~/Star Template/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Star Template/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Star Template/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Star Template/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="~/Star Template/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script>
    <script src="~/Star Template/js/off-canvas.js"></script>
    <script src="~/Star Template/js/hoverable-collapse.js"></script>
    <script src="~/Star Template/js/misc.js"></script>
    <script src="~/Star Template/js/chart.js"></script>
    <script src="~/Star Template/js/maps.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.17/datatables.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
