@model IEnumerable<BugTrack.Models.Project>
@using BugTrack.Assist;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    ProjectsHelper projHelp = new ProjectsHelper();
}
<h2>Index</h2>
@if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
 
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
        
    @if (User.IsInRole("Admin"))
    {
       
        foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
           
    }
    <tr>
            @if (!User.IsInRole("Admin"))
            {
                
                var userid = User.Identity.GetUserId();
                var name = projHelp.ListUserProjects(userid);
                foreach (var projname in name)
                {
                    <td>@projname.Name</td>
                    if (User.IsInRole("ProjectManager"))
                    {
                    <td>@Html.ActionLink("Edit", "Edit", new { id = projname.ID }) <div>|</div>
                        @Html.ActionLink("Details", "Details", new { id = projname.ID }) <div>|</div>
                        @Html.ActionLink("Delete", "Delete", new { id = projname.ID }) </td>
                    }
                }

            }

        </tr>
    </table>
